<h1>Welcome to the Project Netcrest Automation App</h1>
<div class="row">
  <div class="col-3">
    <img class="img-fluid" src="assets/automation-app-logo.png" />
  </div>
  <div class="col-9">
    <p>This automation app will allow you to generate management audit reports about energy monitoring within the Netcrest Ltd group.</p>
    <p>
      The audit report will contain energy usage of the office over a specified time period helping to make Netcrest Ltd a carbon neutral company.
      You will recieve an email containing the reports as attachments.
    </p>
    <div>
      To be able to use this app you will need:
      <ul>
        <li>A google account (your account will be used to send gmails containing the reports to yourself automatically).</li>
        <li>To be an employee of Netcrest ltd that has been granted use of this app. Ask your manager for approval.</li>
        <li>The app will need to be installed on your local desktop computer. Ask your manager for installation media.</li>
      </ul>
    </div>
  </div>
</div>

