<h1>Welcome to the Project Netcrest Automation App</h1>
<div class="row">
  <div class="col-3">
    <img class="img-fluid" src="assets/automation-app-logo.png" />
  </div>
  <div class="col-9">
    <p>This app will automatically generate management audit reports about energy monitoring within the Netcrest Ltd group.</p>
    <p>The audit report will contain energy usage of the office over a specified time period helping to make Netcrest Ltd a carbon neutral company.
    You will recieve an email containing the reports as attachments.</p>
    <div>
      To be able to use this app you will need:
      <ul>
        <li>A google account (to send gmails to yourself containing the reports).</li>
        <li>To be an employee of Netcrest ltd that has been granted use of this app. Ask your manager for approval.</li>
      </ul>
    </div>
  </div>
</div>

